<div style="box-shadow: 0px 25px 14px -25px rgba(0,0,0,0.45);">
<h1 style="margin-top: 2%; margin-left: 2%; position: relative; width: 189vh; height: 100px; ">{{data.title}}</h1>
</div>
<div class="row">
<div class="col">
    <img src="{{data.image}}" class="img-fluid" style="float: left; max-width: 600px; margin: 2%; box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;" alt="..." >
    <p>

    </p>
</div>
<div class="col" style="margin-top: 10%;">
    <p>M.R.P </p><h3>${{data.price}}</h3>
    <p>
        {{data.description}}
    </p>
</div>