<img src="../../../assets/about us.png" class="img-fluid" width="3000" alt="...">
<p style="max-width: 700px; margin-top: 2%; margin-left: 2%;">
    AliExpress is an online retail service based in China, owned by the Alibaba Group. Launched in 2010, it connects small businesses in China and other locations with international buyers1. AliExpress offers a wide range of products, from electronics and fashion to home goods and toys2. Unlike Amazon, AliExpress acts solely as an e-commerce platform and does not sell products directly1.
    AliExpress Multi-Language Sites
    Russian, Portuguese, Spanish, French, German, Italian, Dutch, Turkish, Japanese, Korean, Thai, Vietnamese, Arabic, Hebrew, Polish
    Browse by Category
    All Popular, Product, Promotion, Low Price, Great Value, Reviews
    Alibaba Group
    Alibaba Group Website, AliExpress, Alimama, Alipay, Fliggy, Alibaba Cloud, Alibaba International, AliTelecom, DingTalk, Juhuasuan, Taobao Marketplace, Tmall, Taobao Global, AliOS, 16</p>
